<p>
  <strong>Title:</strong>
  <%= @guestlist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @guestlist.description %>
</p>

<%= link_to 'Back', guestlists_path %>
<%= link_to 'Edit', edit_guestlist_path(@guestlist) %> |
<%= link_to 'Back', guestlists_path %>
